node_modules/
www/
dist/
.DS_Store
*.log
*.lock

# Android
android/.gradle/
android/local.properties
android/captures/
android/app/build/
android/build/
*.iml
.idea/

# Capacitor
capacitor.config.json.backup